/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
    --bg-primary: #000028 ;
    --accent-color: #FF0070;
    --accent-color-rgb: 255, 0, 112;
    --accent-color-btn-rgb: 255, 0, 112;

    --text-title: #DB00FF;
    --text-primary: #000028;
    --text-secondary: #F1B2CE;

    --bg-img: url("../images/cover-image-dark.png");
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
.theme-dark  .header::before,
.theme-dark  .footer::before {
    border-right: 1px solid var(--accent-color);
    border-top: 1px solid var(--accent-color);
}
.theme-dark  .header::after,
.theme-dark  .footer::after {
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
}
.theme-dark .rec {
    display: flex;
}

@media (prefers-color-scheme: dark) {
    /* стили для тёмной темы */
    :root {
        --bg-primary: #000028 ;
        --accent-color: #FF0070;
        --accent-color-rgb: 255, 0, 112;
        --accent-color-btn-rgb: 255, 0, 112;

        --text-title: #DB00FF;
        --text-primary: #000028;
        --text-secondary: #F1B2CE;

        --bg-img: url("../images/cover-image-dark.png");
    }
    .header::before,
    .footer::before {
        border-right: 1px solid var(--accent-color);
        border-top: 1px solid var(--accent-color);
    }
    .header::after,
    .footer::after {
        border-bottom: 1px solid var(--accent-color);
        border-left: 1px solid var(--accent-color);
    }
    .rec {
        display: flex;
    }

}